// bower:scss
// endbower

//Material Tempate Stuff

@import 'material-template';

//Personal

body {
  background: #fafafa;
  color: #333;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.swiper-container {
  width: 100%;
  height: 300px;
}

.profile-circle {
  border-radius:50% 50% 50% 50%;
  width: 64px;
  height: 64px;
}